.abilities__title {
  @include font-sans("b", 16px, 24px, $dark);

  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  text-transform: uppercase;
}

.abilities__list {
  @include reset-list;

  margin-bottom: 74px;
}

.abilities__item {
  @include font-sans("r", 16px, 24px, $dark);

  margin-bottom: 24px;
  padding-left: 36px;
}
