.about-us {
  width: 650px;
  padding-top: 76px;
}

.about-us__title {
  @include font-sans("m", 45px, 45px, $black);

  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.about-us__text {
  @include font-sans("r", 16px, 24px, $dark);

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
