.contacts {
  position: relative;

  padding: 54px 0;
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  background-color: $map-gray;
  overflow: hidden;
}

.contacts__map-img {
  display: block;
  width: 100%;
}

.contacts__info {
  width: 319px;
  padding: 49px 50px 47px;

  background-color: $white;
}

.contacts__info-title {
  @include font-sans("b", 18px, 30px, $black);

  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  text-transform: uppercase;
}

.contacts__data {
  @include font-sans("r", 16px, 18px, $gray);

  width: 205px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.contacts__tel {
  @include font-sans("r", 16px, 18px, $gray);

  display: block;
  margin-bottom: 38px;
}

.contacts__button {
  min-width: 219px;
}
