.form-cost {
  @include reset-fieldset;

  margin-bottom: 54px;
}

.form-cost__title {
  @include font-sans("b", 18px, 30px, $black);

  margin-bottom: 48px;

  text-transform: uppercase;
}

.form-cost__range-wrapper {
  position: relative;

  width: 260px;
  height: 80px;
  margin-bottom: 14px;
  padding: 39px 22px;

  background-color: $bg-gray;
  border-radius: 3px;
}

.form-cost__range {
  position: relative;

  height: 2px;

  background-color: $border-gray;
}

.form-cost__handle {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  background-color: $white;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;

  transform: translateY(-50%);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 4px;
    height: 4px;

    background-color: $handle-gray;

    transform: translate(-50%, -50%);
  }

  &:first-child {
    left: -4px;
  }

  &:nth-child(2) {
    left: 138px;
  }
}

.form-cost__range-line {
  width: 67%;
  height: 2px;

  background-color: $green;
}

.form-cost__inputs {
  display: flex;
  justify-content: space-between;
}

.form-cost__value {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

.form-cost__label {
  @include font-sans("r", 16px, 22px, $dark);

  margin-right: 12px;

  text-transform: uppercase;
}

.form-cost__input {
  @include font-sans("r", 16px, 22px, $dark);

  width: 80px;
  height: 38px;
  padding: 8px;

  text-align: center;

  background-color: $bg-gray;
  border: none;
  border-radius: 3px;
}
