.partners {
  @include section-underline;

  margin-bottom: 82px;
}

.partners__container {
  max-width: 1200px;
  margin: 0 auto;
}

.partners__list {
  @include reset-list;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 37px;
}

.partners__item {
  position: relative;

  text-align: center;

  &:not(:nth-child(4n))::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -1px;

    width: 2px;
    height: 52px;

    background-color: $bg-gray;

    transform: translateY(-50%);
  }

  &:first-child {
    padding-top: 12px;
  }

  &:last-child {
    padding-top: 5px;
  }

  .partners__img {
    opacity: 0.2;

    transition: all 0.3s;
  }

  &:hover,
  &:focus {
    .partners__img {
      opacity: 1;
    }
  }

  &:active {
    .partners__img {
      opacity: 0.1;
    }
  }
}
