.service__title {
  @include font-sans('b', 24px, 30px, $black);

  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

.service__text {
  @include font-sans('r', 16px, 24px, $dark);

  margin: 0;
  padding: 0;
}
