.social__container {
  display: flex;
  justify-content: flex-start;
  padding: 69px 0;
}

.social__list {
  @include reset-list;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 11px;
  row-gap: 9px;
  margin-left: 1px;
  margin-right: 140px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: $social-gray;
  border-radius: 50%;

  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: $red-hover;
  }

  &:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    background-color: $red-active;

    .social__icon {
      opacity: 0.3;
    }
  }
}

.social__icon {
  display: block;
  width: 100%;
  height: 100%;

  transition: all 0.3s;

  &--vk {
    background-image: url("../img/svg/vk-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--fb {
    background-image: url("../img/svg/fb-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--insta {
    background-image: url("../img/svg/insta-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}
