.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.sorting__title {
  @include font-sans("b", 18px, 30px, $black);

  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

.sorting__wrapper {
  display: flex;
  align-items: center;
  margin-top: -2px;
}

.sorting__list {
  @include reset-list;

  display: flex;
  margin-left: -26px;
  margin-right: 47px;
}

.sorting__item {
  margin-left: 26px;
}

.sorting__link {
  @include font-sans("r", 14px, 18px, $black);

  text-transform: uppercase;

  opacity: 0.3;

  transition: 0.3s;

  &[href]:hover {
    opacity: 0.6;
  }

  &--active {
    opacity: 1;
  }
}

.sorting__types {
  display: flex;
}

.sorting__type {
  display: block;
  width: 11px;
  height: 10px;

  opacity: 0.3;

  transition: 0.3s;

  &[href]:hover {
    opacity: 0.6;
  }

  &--active {
    opacity: 1;
  }

  &:first-child {
    margin-right: 19px;

    background-image: url("../img/svg/icon-down-dir.svg");
    background-repeat: no-repeat;
  }

  &:last-child {
    background-image: url("../img/svg/icon-up-dir.svg");
    background-repeat: no-repeat;
  }
}
