footer.footer
  section.footer__contacts.contacts
    h2.visually-hidden Контакты
    a.contacts__map(href="#")
      img.contacts__map-img(src="img/map.png" width="1440" height="416" alt="Как нас найти. Карта.")
    .container
      .contacts__info
        p.contacts__info-title Nёrds design studio
        p.contacts__data 191186, Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
        a.contacts__tel(href="tel:+78122757575") тел. +7 (812) 275-75-75
        a.contacts__button.button.button--red(href="#") Напишите нам
  section.footer__social.social
    .social__container.container
      h2.visually-hidden Наши соц сети
      ul.social__list
        li.social__item
          a.social__link(href="#")
            span.social__icon.social__icon--vk
            span.visually-hidden Мы во вконтакте.
        li.social__item
          a.social__link(href="#")
            span.social__icon.social__icon--fb
            span.visually-hidden Мы на фейсбук.
        li.social__item
          a.social__link(href="#")
            span.social__icon.social__icon--insta
            span.visually-hidden Мы в инстаграм.
      .social__offer.offer
        p.offer__text-bold Давайте дружить, это выгодно!
        p.offer__text Скидка 10% для друзей из социальных сетей.


include ./popup
