footer.footer
  .footer_top
    .footer_contacts
  .footer_bottom
    ul.footer_social(class="social")
      li.social_item
        a.social_link(href="#")
      li.social_item
        a.social_link(href="#")
      li.social_item
        a.social_link(href="#")
    .footer_offer(class="offer")
      p.offer_text.offer_text-bold Давайте дружить, это выгодно!
      p.offer_text Скидка 10% для друзей из социальных сетей.
