header.header
  nav.header__nav
    a.header__logo(class="logo" href="#")
      img(class="logo__img" src="https://placehold.it/160x65" width="160" height="65" alt="Логотип магазина 'Нёрдс'")
    ul.header__menu(class="main-menu")
      li.main-menu__item
        a.main-menu__link(href="studio.html") Студия
      li.main-menu__item
        a.main-menu__link(href="clients.html") Клиенты
      li.main-menu__item
        a.main-menu__link(href="catalog.html") Магазин
      li.main-menu__item
        a.main-menu__link(href="contacts.html") Контакты
    a.header__button(href="cart.html") Корзина
