- var links = [{name: "Студия", href: "studio"}, {name: "Клиенты", href: "clients"}, {name: "Магазин", href: "catalog"}, {name: "Контакты", href: "contacts"}];

mixin nav-link(page, link)
  li.main-menu__item
    if page.name == link.href
      a.main-menu__link.main-menu__link--active= link.name
    else
      a.main-menu__link(href=(link.href) + ".html")= link.name


header.header
  nav.header__nav.container
    a.header__logo.logo(href=(page.name == "index" ? undefined : "index.html"))
      img.logo__img(src="img/svg/nerds-logo.svg" width="160" height="65" alt="Логотип магазина 'Нёрдс'")
    ul.header__menu.main-menu
      each link in links
        +nav-link(page, link)
    .header__button-wrapper
      a.header__button(href="cart.html") Корзина
