section.about-us
  h2.visually-hidden О нас
  p.about-us__title Мы — маленькая, но гордая дизайн-студия из Краснодара.
  p.about-us__text Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работаем не покладая рук, как роботы.
  .about-us__abilities.abilities
    p.abilities__title Выполняем заказы на разработку:
    ul.abilities__list
      li.abilities__item Веб-сайтов любой сложности
      li.abilities__item Мобильных приложений для iOS и Android
      li.abilities__item Слайдшоу и видео для корпоративных презентаций
