section.hero
  .hero_container.container
    .hero_slide.hero_slide--active
      .hero_text.hero-text
        p.hero-text_title Долго, дорого, скрупулезно.
        p.hero-text_subtitle Математически выверенный дизайн для вашего сайта или мобильного приложения.
        a.hero-text_button(href="#") Узнать больше
      .hero_deco.hero-deco
    .hero_slide
      .hero_text.hero-text
        p.hero-text_title Любим математику как никто другой
        p.hero-text_subtitle Никакого креатива, только математические формулы для расчета идеальных пропорций
        a.hero-text_button(href="#") Узнать больше
      .hero_deco.hero-deco
    .hero_slide
      .hero_text.hero-text
        p.hero-text_title Только ночь, только хардкор
        p.hero-text_subtitle Работать днем, как все? Мы против этого. Ближе к полуночи работа только начинается.
        a.hero-text_button(href="#") Узнать больше
      .hero_deco.hero-deco
    .hero_controls
      span 1
      span 2
      span 3
