section.hero
  .hero__container.container
    .hero__slide.hero__slide--active
      .hero__text.hero-text
        p.hero-text__title Долго, дорого, скрупулезно.
        p.hero-text__subtitle Математически выверенный дизайн для вашего сайта или мобильного приложения.
        a.hero-text__button.button.button--red(href="#") Узнать больше
      .hero__deco.hero-deco
    .hero__slide
      .hero__text.hero-text
        p.hero-text__title Любим математику как никто другой
        p.hero-text__subtitle Никакого креатива, только математические формулы для расчета идеальных пропорций
        a.hero-text__button.button.button--red(href="#") Узнать больше
      .hero__deco.hero-deco
    .hero__slide
      .hero__text.hero-text
        p.hero-text__title Только ночь, только хардкор
        p.hero-text__subtitle Работать днем, как все? Мы против этого. Ближе к полуночи работа только начинается.
        a.hero-text__button.button.button--red(href="#") Узнать больше
      .hero__deco.hero-deco
    .hero__controls
      span 1
      span 2
      span 3
