section.partners
  .partners__container.container
    ul.partners__list
      li.partners__item.partner
        a.partner__link(href="")
          img.partner__img(src="img/partner-1.svg" width="199" height="68" alt="")
      li.partners__item.partner
        a.partner__link(href="")
          img.partner__img(src="img/partner-2.svg" width="209" height="90" alt="")
      li.partners__item.partner
        a.partner__link(href="")
          img.partner__img(src="img/partner-3.svg" width="185" height="52" alt="")
      li.partners__item.partner
        a.partner__link(href="")
          img.partner__img(src="img/partner-4.svg" width="173" height="84" alt="")
