section.partners
  .partners__container.container
    ul.partners__list
      li.partners__item.partner
        a.partner__link(href="")
          img.partner__img(src="https://placehold.it/199x68", alt="")
      li.partners__item.partner
        a.partner__link(href="")
          img.partner__img(src="https://placehold.it/209x90", alt="")
      li.partners__item.partner
        a.partner__link(href="")
          img.partner__img(src="https://placehold.it/185x52", alt="")
      li.partners__item.partner
        a.partner__link(href="")
          img.partner__img(src="https://placehold.it/173x84", alt="")
