section.services
  h2.visually-hidden Наши услуги
  .services_container.container
    ul.services_list
      li.services_item.service
        .service_img
        .service_description
          h3.service_title Веб-сайты
          p.service_text Мир никогда не будет прежним после того как увидит ваш сайт!
          a.service_link(href="") Заказать
      li.services_item.service
        .service_img
        .service_description
          h3.service_title Приложения
          p.service_text Покорите топ-10 приложений в AppStore и Google Play
          a.service_link(href="") Заказать
      li.services_item.service
        .service_img
        .service_description
          h3.service_title Презентации
          p.service_text Вы даже не подозреваете, насколько вы изумительны!
          a.service_link(href="") Заказать
