section.services
  h2.visually-hidden Наши услуги
  .services__container.container
    ul.services__list
      li.services__item.service
        .service__img
        .service__description
          h3.service__title Веб-сайты
          p.service__text Мир никогда не будет прежним после того как увидит ваш сайт!
          a.service__link.button.button--red(href="") Заказать
      li.services__item.service
        .service__img
        .service__description
          h3.service__title Приложения
          p.service__text Покорите топ-10 приложений в AppStore и Google Play
          a.service__link.button.button--green(href="") Заказать
      li.services__item.service
        .service__img
        .service__description
          h3.service__title Презентации
          p.service__text Вы даже не подозреваете, насколько вы изумительны!
          a.service__link.button.button--yellow(href="") Заказать
