section.statistics
  .statistics__img
    img(src="img/nerds-illustration.png" width="360" height="208" alt="")
  .statistics__info
    p.statistics__text с 2004 года Любим точность во всем:
    ul.statistics__list
      li.statistics__item
        p.statistics__value
          span.statistics__number 146
          span.statistics__percent %
        p.statistics__name Уровень самоотдачи
      li.statistics__item
        p.statistics__value
          span.statistics__number 100
          span.statistics__percent %
        p.statistics__name Соблюдение сроков
      li.statistics__item
        p.statistics__value
          span.statistics__number 50
          span.statistics__percent %
        p.statistics__name Минимальная предоплата
