section.statistics
  .statistics__img
    img(src="img/nerds-illustration.png" width="360" height="208" alt="")
  .statistics__info
    .statistics__text с 2004 года Любим точность во всем:
    ul.statistics__list
      li.statistics__item
        span.statistics__value 146 <span class="statistics__percent">%</span>
        span.statistics__name Уровень самоотдачи
      li.statistics__item
        span.statistics__value 100 <span class="statistics__percent">%</span>
        span.statistics__name Соблюдение сроков
      li.statistics__item
        span.statistics__value 50 <span class="statistics__percent">%</span>
        span.statistics__name Минимальная предоплата
