extends common/layout

block variables
  -var page = {title: 'Каталог', name: 'catalog'}

block content
    main.catalog
      .catalog__top
        .catalog__top-container.container
          h1.catalog__title Магазин готовых шаблонов
      .catalog__grid.container
        include includes/catalog/filter

        section.products
          h2.visually-hidden Каталог

          include includes/catalog/sorting
          include includes/catalog/products-list
