extends common/layout

block variables
  -var page = 'Каталог'

block content
    main.main
        h1 Title
        hr
        include includes/catalog/company-info
        hr
        //- и другие блоки
