extends common/layout

block variables
  -var page = 'Главная страница'

block content
  main.index
    h1.visually-hidden Главная страница магазина "Нёрдс"
    include includes/index/hero
    include includes/index/services
    include includes/index/about-us
    include includes/index/statistics
    include includes/index/partners
