extends common/layout

block variables
  -var page = 'Главная страница'
  -var navigation = [{name: 'Студия', link: 'studio.html'}, {name: 'Клиенты', link: 'clients.html'}, {name: 'Магазин', link: 'catalog.html'}, {name: 'Контакты', link: 'contacts.html'}];

block content
  main.index
    h1.visually-hidden Главная страница магазина "Нёрдс"
    include includes/index/hero
    include includes/index/services
    include includes/index/about-us
    include includes/index/statistics
    //- include includes/index/hero
    //- и другие блоки
