extends common/layout

block variables
  -var page = {title: 'Главная страница', name: 'index'}

block content
  main.index
    h1.visually-hidden Главная страница магазина "Нёрдс"
    include includes/index/hero
    include includes/index/services
    .index__grid.container
      include includes/index/about-us
      include includes/index/statistics
    include includes/index/partners
