section.filter
  h2.visually-hidden Фильтр товаров

  form.filter__form(action="https://echo.htmlacademy.ru/")
    fieldset.filter__form-cost.form-cost
      legend.form-cost__title Стоимость:
      .form-cost__range-wrapper
        .form-cost__range
          .form-cost__handle
          .form-cost__handle
          .form-cost__range-line
      .form-cost__inputs
        p.form-cost__value
          label.form-cost__label(for="min") От
          input#min.form-cost__input(type="text" name="min" value="0")
        p.form-cost__value
          label.form-cost__label(for="max") До
          input#max.form-cost__input(type="text" name="max" value="15 000")
    fieldset.filter__form-grid.form-grid
      legend.form-grid__title Сетка:
      ul.form-grid__list
        li.form-grid__item
          input#adaptive.form-grid__input.visually-hidden(type="radio" name="grid" checked)
          label.form-grid__label(for="adaptive") Адаптивная
        li.form-grid__item
          input#fixed.form-grid__input.visually-hidden(type="radio" name="grid")
          label.form-grid__label(for="fixed") Фиксированная
        li.form-grid__item
          input#responsive.form-grid__input.visually-hidden(type="radio" name="grid")
          label.form-grid__label(for="responsive") Резиновая
    fieldset.filter__form-features.form-features
      legend.form-features__title Особенности:
      ul.form-features__list
        li.form-features__item
          input#slider.form-features__input.visually-hidden(type="checkbox" name="slider" checked)
          label.form-features__label(for="slider") Слайдер
        li.form-features__item
          input#advantages.form-features__input.visually-hidden(type="checkbox" name="advantages")
          label.form-features__label(for="advantages") Блок преимуществ
        li.form-features__item
          input#news.form-features__input.visually-hidden(type="checkbox" name="news" checked)
          label.form-features__label(for="news") Новости
        li.form-features__item
          input#gallery.form-features__input.visually-hidden(type="checkbox" name="gallery")
          label.form-features__label(for="gallery") Галерея
        li.form-features__item
          input#cart.form-features__input.visually-hidden(type="checkbox" name="cart")
          label.form-features__label(for="cart") Корзина

    button.filter__form-submit.button.button--gray(type="submit") Показать

