- var productsObj = [{src: 'product-1.jpg', alt: 'Седона', title: 'Sedona', description: 'Информационный сайт для туристов', price: '9 900 ₽'}, {src: 'product-2.jpg', alt: 'Пинк', title: 'Pink App', description: 'Продуктовый лендинг приложения для iOS и Android', price: '9 900 ₽'}, {src: 'product-3.jpg', alt: 'Барбершоп', title: 'Barbershop', description: 'Сайт салона красоты. Для мужчин, да.', price: '9 900 ₽'}, {src: 'product-4.jpg', alt: 'Мишка', title: 'Mishka', description: 'Интернет-магазин вязаных игрушек', price: '9 900 ₽'}, {src: 'product-5.jpg', alt: 'Седона', title: 'Sedona', description: 'Информационный сайт для туристов', price: '9 900 ₽'}, {src: 'product-6.jpg', alt: 'Пинк', title: 'Pink App', description: 'Продуктовый лендинг приложения для iOS и Android', price: '9 900 ₽'}];

mixin list-item(product)
  li.products-list__item.product-card
    .product-card__deco
    .product-card__img-wrapper
      img.product-card__img(src="img/" +product.src, alt="Изображение сайта " +product.alt)
    .product-card__info
      h3.product-card__title
        a.product-card__title-link(href="") #{product.title}
      p.product-card__description #{product.description}
      a.product-card__price.button.button--red(href="") #{product.price}

.products__list-wrapper
  ul.products__list.products-list
    each product in productsObj
      +list-item(product)
  ul.products__pagination.pagination
    li.pagination__item
      a.pagination__link.pagination__link--active.button.button--gray 1
    li.pagination__item
      a.pagination__link.button.button--gray 2
    li.pagination__item
      a.pagination__link.button.button--gray 3
    li.pagination__item
      a.pagination__link.pagination__link--long.button.button--gray Следующая
