.products__sorting.sorting
  p.sorting__title Сортировать:
  .sorting__wrapper
    ul.sorting__list
      li.sorting__item
        a.sorting__link.sorting__link--active(href="") По цене
      li.sorting__item
        a.sorting__link(href="") По типу
      li.sorting__item
        a.sorting__link(href="") По названию
    .sorting__types
      a.sorting__type(href="")
        span.visually-hidden По убыванию
      a.sorting__type(href="")
        span.visually-hidden По возрастанию
