.products__sorting.sorting
  p.sorting__title Сортировать:
  .sorting__wrapper
    ul.sorting__list
      li.sorting__list-item
        a(href="") По цене
      li.sorting__list-item
        a(href="") По типу
      li.sorting__list-item
        a(href="") По названию
    .sorting__types
      a.sorting__type-item(href="")
        span.visually-hidden По убыванию
      a.sorting__type-item(href="")
        span.visually-hidden По возрастанию
